{"swagger":"2.0","info":{"version":"1.0.0","title":"CLARIN Component Registry"},"host":"catalog.clarin.eu","basePath":"/ds/ComponentRegistry/rest","tags":[{"name":"registry"},{"name":"groups"},{"name":"items"},{"name":"authentication"}],"schemes":["https"],"paths":{"/registry/profiles":{"get":{"tags":["registry"],"summary":"A listing of the descriptions of profiles in the specified registry space","description":"","operationId":"getRegisteredProfiles","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"mdEditor","in":"query","required":false,"type":"boolean","default":false},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userspace","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/ProfileDescription"}}},"401":{"description":"Registry requires authorisation and user is not authenticated"},"403":{"description":"Non-public registry is not owned by current user"},"404":{"description":"Registry space does not exist"}}},"post":{"tags":["registry"],"summary":"Registers a profile specification (data content) with the associated metadata (form content) in the user's private space","description":"","operationId":"registerProfile","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Current user has no access"}}}},"/registry/profiles/{profileId}/status":{"get":{"tags":["registry"],"summary":"Gets the status of a registered profile","description":"","operationId":"getProfileStatus","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Updates the status of an already registered profile","description":"","operationId":"updateProfileStatus","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"status","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/components/{componentId}/status":{"get":{"tags":["registry"],"summary":"Gets the status of a registered component","description":"","operationId":"getComponentStatus","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Updates the status of an already registered component","description":"","operationId":"updateComponentStatus","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"status","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/pingSession":{"get":{"tags":["registry"],"summary":"Keeps the session alive","description":"","operationId":"pingSession","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"}],"responses":{"default":{"description":"successful operation"}}}},"/registry/profiles/{profileId}/comments":{"get":{"tags":["registry"],"summary":"Returns a listing of all comments that have been made on the identified profile","description":"","operationId":"getCommentsFromProfile","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Comment"}}},"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Publishes a comment on the specified profile","description":"","operationId":"registerCommentInProfile","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/profiles/{profileId}/comments/rss":{"get":{"tags":["registry"],"operationId":"getRssOfCommentsFromProfile","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/components/{componentId}/comments/rss":{"get":{"tags":["registry"],"operationId":"getRssOfCommentsFromComponent","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/components/rss":{"get":{"tags":["registry"],"operationId":"getRssComponent","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/profiles/rss":{"get":{"tags":["registry"],"operationId":"getRssProfile","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/profiles/{profileId}":{"get":{"tags":["registry"],"summary":"The component specification of a single profile","description":"","operationId":"getRegisteredProfile","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single profile (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateRegisteredProfile","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes the profile with the specified ID from its registry","description":"","operationId":"deleteRegisteredProfile","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}}},"/registry/profiles/{profileId}/comments/{commentId}":{"get":{"tags":["registry"],"summary":"Returns a single comment on a profile","description":"","operationId":"getSpecifiedCommentFromProfile","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Comment"}},"401":{"description":"Component requires authorisation and user is not authenticated"},"403":{"description":"Non-public component is not owned by current user"},"404":{"description":"Component or comment does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single profile comment (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateCommentFromProfile","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes a comment from a profile","description":"","operationId":"deleteCommentFromProfile","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Comment is not owned by current user and user is no administrator"},"404":{"description":"Comment does not exist"}}}},"/registry/components/{componentId}/comments/{commentId}":{"get":{"tags":["registry"],"summary":"Returns a single comment on a component","description":"","operationId":"getSpecifiedCommentFromComponent","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Comment"}},"401":{"description":"Component requires authorisation and user is not authenticated"},"403":{"description":"Non-public component is not owned by current user"},"404":{"description":"Component or comment does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single component comment (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateCommentFromComponent","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes a comment from a component","description":"","operationId":"deleteCommentFromComponent","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Comment is not owned by current user and user is no administrator"},"404":{"description":"Comment does not exist"}}}},"/registry/components/{componentId}":{"get":{"tags":["registry"],"summary":"The component specification of a single component","description":"","operationId":"getRegisteredComponent","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single component (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateRegisteredComponent","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes the component with the specified ID from its registry","description":"","operationId":"deleteRegisteredComponent","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}}},"/registry/components":{"get":{"tags":["registry"],"summary":"A listing of the descriptions of components in the specified registry space","description":"","operationId":"getRegisteredComponents","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userspace","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/ComponentDescription"}}},"401":{"description":"Registry requires authorisation and user is not authenticated"},"403":{"description":"Non-public registry is not owned by current user"},"404":{"description":"Registry space does not exist"}}},"post":{"tags":["registry"],"summary":"Registers a component specification (data content) with the associated metadata (form content) in the user's private space","description":"","operationId":"registerComponent","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Current user has no access"}}}},"/registry/components/{componentId}/{rawType}":{"get":{"tags":["registry"],"summary":"The expanded XML or XSD represenation of the component specification of a single component (publicly accessible regardless of state!)","description":"","operationId":"getRegisteredComponentRawType","produces":["text/xml","application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"rawType","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Item does not exist"}}}},"/registry/components/{componentId}/comments":{"get":{"tags":["registry"],"summary":"Returns a listing of all comments that have been made on the identified component","description":"","operationId":"getCommentsFromComponent","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Comment"}}},"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Publishes a comment on the specified component","description":"","operationId":"registerCommentInComponent","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/profiles/{profileId}/publish":{"post":{"tags":["registry"],"summary":"Changes the state of the specified profile to published","description":"","operationId":"publishRegisteredProfile","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/profiles/{profileId}/update":{"post":{"tags":["registry"],"summary":"Updates an already registered (but unpublished) profile","description":"","operationId":"updateRegisteredProfile","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/components/usage/{componentId}":{"get":{"tags":["registry"],"summary":"Returns a descriptions listing of components that use the identified component","description":"","operationId":"getComponentUsage","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/BaseDescription"}}},"401":{"description":"Item requires authorisation and user is not authenticated"}}}},"/registry/components/{componentId}/publish":{"post":{"tags":["registry"],"summary":"Changes the state of the specified component to published","description":"","operationId":"publishRegisteredComponent","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/components/{componentId}/update":{"post":{"tags":["registry"],"summary":"Updates an already registered (but unpublished) component","description":"","operationId":"updateRegisteredComponent","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/profiles/{profileId}/{targetVersion}{rawType}":{"get":{"tags":["registry"],"summary":"The expanded XML or XSD represenation of the component specification of a single profile (publicly accessible regardless of state!)","description":"","operationId":"getRegisteredProfileRawType","produces":["text/xml","application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"targetVersion","in":"path","required":true,"type":"string","pattern":"([0-9]+\\.[0-9]+/)?"},{"name":"rawType","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Item does not exist"}}}},"/registry/components/{componentId}/successor":{"get":{"tags":["registry"],"summary":"Gets the successor of a registered component","description":"","operationId":"getComponentSuccessor","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist (no item or no successor)"}}},"post":{"tags":["registry"],"summary":"Sets the successor for a registered component (must have deprecated status)","description":"","operationId":"updateComponentSuccessor","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"successor","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/profiles/{profileId}/successor":{"get":{"tags":["registry"],"summary":"Gets the successor of a registered component","description":"","operationId":"getProfileSuccessor","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist (no item or no successor)"}}},"post":{"tags":["registry"],"summary":"Sets the successor for a registered profile (must have deprecated status)","description":"","operationId":"updateProfileSuccessor","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"successor","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/allowedTypes":{"get":{"summary":"A listing of values that are allowed as element or attribute type by the CMDI schema","description":"","operationId":"getAllowedAttributeTypes","produces":["text/xml","application/xml","application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AllowedAttributetypesXML"}}}}},"/registry/{cmdVersion}/profiles":{"get":{"tags":["registry"],"summary":"A listing of the descriptions of profiles in the specified registry space","description":"","operationId":"getRegisteredProfiles_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"mdEditor","in":"query","required":false,"type":"boolean","default":false},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userspace","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/ProfileDescription"}}},"401":{"description":"Registry requires authorisation and user is not authenticated"},"403":{"description":"Non-public registry is not owned by current user"},"404":{"description":"Registry space does not exist"}}},"post":{"tags":["registry"],"summary":"Registers a profile specification (data content) with the associated metadata (form content) in the user's private space","description":"","operationId":"registerProfile_1","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Current user has no access"}}}},"/registry/{cmdVersion}/profiles/{profileId}/status":{"get":{"tags":["registry"],"summary":"Gets the status of a registered profile","description":"","operationId":"getProfileStatus_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Updates the status of an already registered profile","description":"","operationId":"updateProfileStatus_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"status","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/components/{componentId}/status":{"get":{"tags":["registry"],"summary":"Gets the status of a registered component","description":"","operationId":"getComponentStatus_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Updates the status of an already registered component","description":"","operationId":"updateComponentStatus_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"status","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/pingSession":{"get":{"tags":["registry"],"summary":"Keeps the session alive","description":"","operationId":"pingSession_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"}],"responses":{"default":{"description":"successful operation"}}}},"/registry/{cmdVersion}/profiles/{profileId}/comments":{"get":{"tags":["registry"],"summary":"Returns a listing of all comments that have been made on the identified profile","description":"","operationId":"getCommentsFromProfile_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Comment"}}},"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Publishes a comment on the specified profile","description":"","operationId":"registerCommentInProfile_1","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/profiles/{profileId}/comments/rss":{"get":{"tags":["registry"],"operationId":"getRssOfCommentsFromProfile_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/{cmdVersion}/components/{componentId}/comments/rss":{"get":{"tags":["registry"],"operationId":"getRssOfCommentsFromComponent_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/{cmdVersion}/components/rss":{"get":{"tags":["registry"],"operationId":"getRssComponent_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/{cmdVersion}/profiles/rss":{"get":{"tags":["registry"],"operationId":"getRssProfile_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","required":false,"type":"string","default":"20"}],"responses":{"200":{"description":"successful operation","headers":{},"schema":{"$ref":"#/definitions/Rss"}}}}},"/registry/{cmdVersion}/profiles/{profileId}":{"get":{"tags":["registry"],"summary":"The component specification of a single profile","description":"","operationId":"getRegisteredProfile_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single profile (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateRegisteredProfile_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes the profile with the specified ID from its registry","description":"","operationId":"deleteRegisteredProfile_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/profiles/{profileId}/comments/{commentId}":{"get":{"tags":["registry"],"summary":"Returns a single comment on a profile","description":"","operationId":"getSpecifiedCommentFromProfile_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Comment"}},"401":{"description":"Component requires authorisation and user is not authenticated"},"403":{"description":"Non-public component is not owned by current user"},"404":{"description":"Component or comment does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single profile comment (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateCommentFromProfile_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes a comment from a profile","description":"","operationId":"deleteCommentFromProfile_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Comment is not owned by current user and user is no administrator"},"404":{"description":"Comment does not exist"}}}},"/registry/{cmdVersion}/components/{componentId}/comments/{commentId}":{"get":{"tags":["registry"],"summary":"Returns a single comment on a component","description":"","operationId":"getSpecifiedCommentFromComponent_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Comment"}},"401":{"description":"Component requires authorisation and user is not authenticated"},"403":{"description":"Non-public component is not owned by current user"},"404":{"description":"Component or comment does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single component comment (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateCommentFromComponent_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes a comment from a component","description":"","operationId":"deleteCommentFromComponent_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"commentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Comment is not owned by current user and user is no administrator"},"404":{"description":"Comment does not exist"}}}},"/registry/{cmdVersion}/components/{componentId}":{"get":{"tags":["registry"],"summary":"The component specification of a single component","description":"","operationId":"getRegisteredComponent_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Allows for deletion of single component (workaround for Flex which does not support the DELETE method)","description":"","operationId":"manipulateRegisteredComponent_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"method","in":"formData","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["registry"],"summary":"Deletes the component with the specified ID from its registry","description":"","operationId":"deleteRegisteredComponent_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/components":{"get":{"tags":["registry"],"summary":"A listing of the descriptions of components in the specified registry space","description":"","operationId":"getRegisteredComponents_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"registrySpace","in":"query","required":false,"type":"string","default":"published"},{"name":"groupId","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userspace","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/ComponentDescription"}}},"401":{"description":"Registry requires authorisation and user is not authenticated"},"403":{"description":"Non-public registry is not owned by current user"},"404":{"description":"Registry space does not exist"}}},"post":{"tags":["registry"],"summary":"Registers a component specification (data content) with the associated metadata (form content) in the user's private space","description":"","operationId":"registerComponent_1","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Current user has no access"}}}},"/registry/{cmdVersion}/components/{componentId}/{rawType}":{"get":{"tags":["registry"],"summary":"The expanded XML or XSD represenation of the component specification of a single component (publicly accessible regardless of state!)","description":"","operationId":"getRegisteredComponentRawType_1","produces":["text/xml","application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"rawType","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/components/{componentId}/comments":{"get":{"tags":["registry"],"summary":"Returns a listing of all comments that have been made on the identified component","description":"","operationId":"getCommentsFromComponent_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Comment"}}},"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}},"post":{"tags":["registry"],"summary":"Publishes a comment on the specified component","description":"","operationId":"registerCommentInComponent_1","consumes":["multipart/form-data"],"produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Non-public item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/profiles/{profileId}/publish":{"post":{"tags":["registry"],"summary":"Changes the state of the specified profile to published","description":"","operationId":"publishRegisteredProfile_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/profiles/{profileId}/update":{"post":{"tags":["registry"],"summary":"Updates an already registered (but unpublished) profile","description":"","operationId":"updateRegisteredProfile_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/components/usage/{componentId}":{"get":{"tags":["registry"],"summary":"Returns a descriptions listing of components that use the identified component","description":"","operationId":"getComponentUsage_1","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/BaseDescription"}}},"401":{"description":"Item requires authorisation and user is not authenticated"}}}},"/registry/{cmdVersion}/components/{componentId}/publish":{"post":{"tags":["registry"],"summary":"Changes the state of the specified component to published","description":"","operationId":"publishRegisteredComponent_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/components/{componentId}/update":{"post":{"tags":["registry"],"summary":"Updates an already registered (but unpublished) component","description":"","operationId":"updateRegisteredComponent_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"data","in":"formData","required":false,"type":"file"},{"name":"name","in":"formData","required":false,"type":"string"},{"name":"description","in":"formData","required":false,"type":"string"},{"name":"group","in":"formData","required":false,"type":"string"},{"name":"domainName","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/profiles/{profileId}/{targetVersion}{rawType}":{"get":{"tags":["registry"],"summary":"The expanded XML or XSD represenation of the component specification of a single profile (publicly accessible regardless of state!)","description":"","operationId":"getRegisteredProfileRawType_1","produces":["text/xml","application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"targetVersion","in":"path","required":true,"type":"string","pattern":"([0-9]+\\.[0-9]+/)?"},{"name":"rawType","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/components/{componentId}/successor":{"get":{"tags":["registry"],"summary":"Gets the successor of a registered component","description":"","operationId":"getComponentSuccessor_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist (no item or no successor)"}}},"post":{"tags":["registry"],"summary":"Sets the successor for a registered component (must have deprecated status)","description":"","operationId":"updateComponentSuccessor_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"componentId","in":"path","required":true,"type":"string"},{"name":"successor","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/registry/{cmdVersion}/profiles/{profileId}/successor":{"get":{"tags":["registry"],"summary":"Gets the successor of a registered component","description":"","operationId":"getProfileSuccessor_1","produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist (no item or no successor)"}}},"post":{"tags":["registry"],"summary":"Sets the successor for a registered profile (must have deprecated status)","description":"","operationId":"updateProfileSuccessor_1","consumes":["multipart/form-data"],"produces":["application/xml"],"parameters":[{"name":"cmdVersion","in":"path","required":true,"type":"string","default":"1.1"},{"name":"profileId","in":"path","required":true,"type":"string"},{"name":"successor","in":"formData","required":false,"type":"string"}],"responses":{"401":{"description":"User is not authenticated"},"403":{"description":"Item is not owned by current user"},"404":{"description":"Item does not exist"}}}},"/groups/usermembership":{"get":{"tags":["groups"],"summary":"Returns a listing of groups the current user is a member of (empty list when unauthenticated)","description":"","operationId":"getGroupsTheCurrentUserIsAMemberOf","produces":["text/xml","application/xml","application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Group"}}}}}},"/items/{itemId}":{"get":{"tags":["items"],"summary":"The description (metadata) of a single component or profile item","description":"","operationId":"getBaseDescription","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/BaseDescription"}},"401":{"description":"Item requires authorisation and user is not authenticated"},"403":{"description":"Non-public item is not owned by current user and user is no administrator"},"404":{"description":"Item does not exist"}}}},"/items/{itemId}/rights":{"get":{"tags":["items"],"summary":"Returns information about the rights to an item for the current user","description":"","operationId":"getItemRights","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ItemRights"}}}}},"/items/{itemId}/lock":{"get":{"tags":["items"],"operationId":"getItemLock","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"put":{"tags":["items"],"operationId":"putItemLock","produces":["application/xml"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}},"delete":{"tags":["items"],"operationId":"removeItemLock","produces":["application/xml"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/items/{itemId}/groups":{"get":{"tags":["items"],"summary":"Returns a listing of groups to which an item belongs","description":"","operationId":"getGroupsTheItemIsAMemberOf","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/Group"}}}}}},"/items/{itemId}/transferownership":{"post":{"tags":["items"],"summary":"Transfers an item to the specified group (either from the private space or another group)","description":"","operationId":"transferItemOwnershipToGroup","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"itemId","in":"path","required":true,"type":"string"},{"name":"groupId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"403":{"description":"Current user has no access"}}}},"/authentication":{"get":{"tags":["authentication"],"summary":"Information on the current authentication state. Pass 'redirect' query parameter to make this method redirect to the URI specified as its value.","description":"","operationId":"getAuthenticationInformation","produces":["text/xml","application/xml","application/json"],"parameters":[{"name":"redirect","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"If no query parameters are passed, with the authentications status in its body"},"303":{"description":"A redirect to the URI provided as the value of the 'redirect' parameter"}}},"post":{"tags":["authentication"],"summary":"Triggers the service to require the client to authenticate by means of the configured authentication mechanism. Notice that this might require user interaction!","description":"","operationId":"triggerAuthenticationRequest","produces":["application/xml"],"parameters":[],"responses":{"303":{"description":"A redirect, either to a Shibboleth authentication page/discovery service or other identification mechanism, and ultimately to the same URI as requested (which should be picked up as a GET)"},"401":{"description":"If unauthenticated, a request to authenticate may be returned (not in case of Shibboleth authentication)"}}}}},"definitions":{"Category":{"type":"object","properties":{"value":{"type":"string"},"domain":{"type":"string","xml":{"attribute":true}}}},"Cloud":{"type":"object","properties":{"domain":{"type":"string","xml":{"attribute":true}},"port":{"type":"integer","xml":{"attribute":true}},"path":{"type":"string","xml":{"attribute":true}},"registerProcedure":{"type":"string","xml":{"attribute":true}},"protocol":{"type":"string","xml":{"attribute":true},"enum":["XML_RPC","HTTP_POST","SOAP"]}}},"Enclosure":{"type":"object","properties":{"value":{"type":"string"},"url":{"type":"string","xml":{"attribute":true}},"length":{"type":"integer","xml":{"attribute":true}},"type":{"type":"string","xml":{"attribute":true}}}},"Guid":{"type":"object","properties":{"value":{"type":"string"},"isPermaLink":{"type":"boolean","xml":{"attribute":true}}}},"Image":{"type":"object","required":["link","title","url"],"properties":{"url":{"type":"string"},"title":{"type":"string"},"link":{"type":"string"},"width":{"type":"integer","format":"int32","default":88},"height":{"type":"integer","format":"int32","default":31},"description":{"type":"string"}}},"Rss":{"type":"object","required":["channel"],"properties":{"channel":{"$ref":"#/definitions/RssChannel"},"any":{"type":"array","items":{"type":"object"}},"version":{"type":"number","format":"double","xml":{"attribute":true}},"otherAttributes":{"type":"object","additionalProperties":{"type":"string"}}},"xml":{"name":"rss"}},"RssChannel":{"type":"object","required":["description","item","link","title"],"properties":{"title":{"type":"string"},"link":{"type":"string"},"description":{"type":"string"},"language":{"type":"string"},"copyright":{"type":"string"},"managingEditor":{"type":"string"},"webMaster":{"type":"string"},"pubDate":{"type":"string"},"lastBuildDate":{"type":"string"},"category":{"$ref":"#/definitions/Category"},"generator":{"type":"string"},"docs":{"type":"string"},"cloud":{"$ref":"#/definitions/Cloud"},"ttl":{"type":"integer"},"image":{"$ref":"#/definitions/Image"},"rating":{"type":"string"},"textInput":{"$ref":"#/definitions/TextInput"},"skipHours":{"$ref":"#/definitions/SkipHoursList"},"skipDays":{"$ref":"#/definitions/SkipDaysList"},"item":{"type":"array","items":{"$ref":"#/definitions/RssItem"}},"otherAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"RssItem":{"type":"object","properties":{"title":{"type":"string"},"link":{"type":"string"},"description":{"type":"string"},"category":{"$ref":"#/definitions/Category"},"comments":{"type":"string"},"enclosure":{"$ref":"#/definitions/Enclosure"},"guid":{"$ref":"#/definitions/Guid"},"pubDate":{"type":"string"},"any":{"type":"array","items":{"type":"object"}},"otherAttributes":{"type":"object","additionalProperties":{"type":"string"}}}},"SkipDaysList":{"type":"object","properties":{"day":{"type":"array","items":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]}}}},"SkipHoursList":{"type":"object","properties":{"hour":{"type":"array","items":{"type":"integer","format":"int32"}}}},"TextInput":{"type":"object","required":["description","link","name","title"],"properties":{"title":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"},"link":{"type":"string"}}},"ComponentDescription":{"type":"object","properties":{"dbId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"registrationDate":{"type":"string","format":"date-time"},"creatorName":{"type":"string"},"dbUserId":{"type":"integer","format":"int64"},"userId":{"type":"string"},"domainName":{"type":"string"},"href":{"type":"string","xml":{"namespace":"http://www.w3.org/1999/xlink"}},"groupName":{"type":"string"},"status":{"type":"string","enum":["DEVELOPMENT","PRODUCTION","DEPRECATED"]},"derivedfrom":{"type":"string"},"successor":{"type":"string"},"commentsCount":{"type":"integer","format":"int32"},"content":{"type":"string"},"deleted":{"type":"boolean"},"recommended":{"type":"boolean"},"showInEditor":{"type":"boolean"},"public":{"type":"boolean"},"profile":{"type":"boolean"},"id":{"type":"string"},"type":{"type":"string"}},"xml":{"name":"componentDescription"}},"ProfileDescription":{"type":"object","properties":{"dbId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"registrationDate":{"type":"string","format":"date-time"},"creatorName":{"type":"string"},"dbUserId":{"type":"integer","format":"int64"},"userId":{"type":"string"},"domainName":{"type":"string"},"href":{"type":"string","xml":{"namespace":"http://www.w3.org/1999/xlink"}},"groupName":{"type":"string"},"status":{"type":"string","enum":["DEVELOPMENT","PRODUCTION","DEPRECATED"]},"derivedfrom":{"type":"string"},"successor":{"type":"string"},"commentsCount":{"type":"integer","format":"int32"},"content":{"type":"string"},"deleted":{"type":"boolean"},"recommended":{"type":"boolean"},"showInEditor":{"type":"boolean"},"public":{"type":"boolean"},"profile":{"type":"boolean"},"id":{"type":"string"},"type":{"type":"string"}},"xml":{"name":"profileDescription"}},"Comment":{"type":"object","properties":{"commentDate":{"type":"string","format":"date-time"},"id":{"type":"string"},"userName":{"type":"string"},"canDelete":{"type":"boolean"},"userId":{"type":"integer","format":"int64"},"componentRef":{"type":"string"},"comment":{"type":"string"}},"xml":{"name":"comment"}},"BaseDescription":{"type":"object","properties":{"dbId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"registrationDate":{"type":"string","format":"date-time"},"creatorName":{"type":"string"},"dbUserId":{"type":"integer","format":"int64"},"userId":{"type":"string"},"domainName":{"type":"string"},"href":{"type":"string","xml":{"namespace":"http://www.w3.org/1999/xlink"}},"groupName":{"type":"string"},"status":{"type":"string","enum":["DEVELOPMENT","PRODUCTION","DEPRECATED"]},"derivedfrom":{"type":"string"},"successor":{"type":"string"},"commentsCount":{"type":"integer","format":"int32"},"content":{"type":"string"},"deleted":{"type":"boolean"},"recommended":{"type":"boolean"},"showInEditor":{"type":"boolean"},"public":{"type":"boolean"},"profile":{"type":"boolean"},"id":{"type":"string"},"type":{"type":"string"}},"xml":{"name":"description"}},"AllowedAttributetypesXML":{"type":"object","xml":{"name":"CMDElement_Types"}},"Group":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"ownerId":{"type":"integer","format":"int64"}},"xml":{"name":"group"}},"ItemRights":{"type":"object","properties":{"itemId":{"type":"string"},"user":{"type":"string"},"canRead":{"type":"boolean"},"canWrite":{"type":"boolean"}},"xml":{"name":"itemRights"}}}}