/***
*
* BROWSER
*
*/

/* HTMX updating */

.htmx-request #items-table tbody {
    opacity: .2;
}

.htmx-swapping #items-table tbody {
    opacity: .4;
}

/* Item table column specific styling */

.column-field_name, .column-field_description, .column-field_groupName, .column-field_domainName, .column-field_creator, .column-field_registrationDate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-field_name {
    max-width: 10em;
}

.column-field_groupName, .column-field_domainName,  .column-field_creator, .column-field_registrationDate {
    max-width: 10em;
}

.column-field_description {
    max-width: 15em;
}

.items-table a.item-info {
    opacity: .1;
}

.items-table tr:hover a.item-info {
    opacity: 1;
}

.items-table tr:hover {
    cursor: pointer;
}

.items-table tr.table-active {
    font-weight: bold;
    background-color: var(--bs-info);
    color: var(--bs-info-text-emphasis);
}

/***
*
* EDITOR
*
*/

div.cmd-element > .editor-section-header .h4 {
    color: olive;
    cursor: pointer;
    text-decoration: underline;
}

div.cmd-component > .editor-section-header .h4 {
    color: salmon;
    cursor: pointer;
    text-decoration: underline;
}

.editor-section-header {
    padding: .2em;
}

.editor-section-header:hover {
    background: var(--bs-gray-300);
}

.cmd-element, .cmd-component {
    border: 2px solid transparent;
    border-left: 2px solid var(--bs-gray-200);
}

.cmd-element:hover, .cmd-component:hover {
    background: var(--bs-gray-100);
    border: 2px dotted var(--bs-gray-800);
    padding-left: 0px;
}